<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.LiveMapper">

    <sql id="Base_Column_List">
        id,topic,date,chief
    </sql>
<select id="selectAll" resultType="com.example.entity.Live">
select live.*,teacher.name AS teacherName
    from live
    left join teacher on live.chief=teacher.username

    <where>
        <if test="id != null"> and id= #{id}</if>
        <if test="topic != null"> and topic like concat('%', #{topic}, '%')</if>
        <if test="date != null"> and date= #{date}</if>
        <if test="chief != null"> and chief= #{chief}</if>
    </where>
</select>

    <!-- 根据ID查询-->
    <select id="selectById" resultType="com.example.entity.Live">
        select
        <include refid="Base_Column_List" />
        from live
        where id = #{id}
    </select>

    <!-- 删除-->
    <delete id="deleteById">
        delete from live
        where  id = #{id}
    </delete>

    <!-- 插入 -->
        <insert id="insert" parameterType="com.example.entity.Live" useGeneratedKeys="true">
            insert into live
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="topic != null">topic,</if>
                <if test="date != null">date,</if>
                <if test="chief != null">chief,</if>

            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id},</if>
                <if test="topic != null">#{topic},</if>
                <if test="date != null">#{date},</if>
                <if test="chief != null">#{chief},</if>
            </trim>
        </insert>

<!--    修改-->
    <update id="updateById" parameterType="com.example.entity.Live">
        update live
        <set>
            <if test="topic != null"> topic=#{topic},</if>
            <if test="date != null"> date=#{date},</if>
            <if test="chief != null"> chief=#{chief},</if>
        </set>
        where id = #{id}
    </update>




</mapper>